.container {
    position: relative;

    margin: 2rem 0;
}

.container::after {
    position: absolute;
    top:0;
    left: 0;

    content: '';

    width: 100%;
    height: 5rem;

    background: linear-gradient(to top, #ffffff00, #ffffff00, var(--black1));
}

.container::before {
    position: absolute;
    bottom:0;
    left: 0;

    content: '';

    width: 100%;
    height: 5rem;

    background: linear-gradient(to bottom, #ffffff00, var(--black1));
}

#about {
    position: relative;
    background-image: url(../Images/BG/City.png);
    background-position: center;
}

#about .description {
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    margin: 5rem 0 10rem 0;
}

#about .description p {
    font-size: 1.15rem;

    max-width: 20%;

    margin: 1rem 3rem;
}

.container .title {
    position: relative;

    margin-top: 2.5rem;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 4rem;
}

.container .title:after {
    content: '';

    position: absolute;
    bottom: -.75rem;
    left: 0;

    width: 5rem;
    height: .75rem;

    background-color: var(--accent-orange);
}

.container:nth-child(odd) .title:after {
    background-color: var(--accent-red);
}

.container .section {
    position: relative;
    margin: 5rem 0;

    min-height: 20rem;
}

.bg-gradient, .bg-img {
    position: absolute;
    right: 0;
    top: 0;

    width: 50%;
    height: 100%;

    transition-duration: 250ms;
}

.container .section:nth-child(odd) .bg-gradient,
.container .section:nth-child(odd) .bg-img {
    right: unset;
    left: 0;
}

.container .section:nth-child(odd) .bg-gradient {
    right: unset;
    left: 0;

    transform: scaleX(-1);
}
.container .section:nth-child(odd) .section-title,
.container .section:nth-child(odd) .description {
    text-align: right;
    margin-left: auto;
}

.container .section .bg-gradient {
    /*background: linear-gradient(to left, #ffffff00, var(--black1));*/
    background: linear-gradient(to left, #ffffff00, #ffffff00, #ffffff00, #ffffff00, var(--black1));
    transition-duration: 250ms;
}

.container .section:nth-child(even) .bg-gradient:hover {
    width: 80%;
    right: -30%;
    background: linear-gradient(to left, #ffffff00, #ffffff00, #ffffff00, var(--black1));
}

.container .section:nth-child(odd) .bg-gradient:hover {
    width: 80%;
    left: -30%;
    background: linear-gradient(to left, #ffffff00, #ffffff00, #ffffff00, var(--black1));
}

.container .section .bg-img {
    background-size: cover;
    background-repeat: no-repeat;

    border-bottom: 1px solid var(--accent-red);

    z-index: 0;
}

.container .section .section-title {
    color: var(--late1);
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    width: 50%;
    text-shadow: 0px 0px 2px black;

    z-index: 2;
}
.container .section .description {
    color: var(--late3);
    max-width: 47%;
    font-size: 1.25rem;

    text-shadow: 0px 0px 2px black;
    z-index: 2;
}

@media only screen and (max-width: 1300px) {

    #about .description p {
        font-size: 1.15rem;

        max-width: 100%;

        margin: 1rem 3rem;
    }
}


@media only screen and (max-width: 1000px) {

    .container .section .section-title {
        font-size: 3rem;
        width: 100%;
    }

    .container .section .description {
        max-width: 100%;
        font-size: 1.35rem;
    }

    .container .section .bg-gradient {
        display: none;
        position: absolute;
    }

    .container .section .bg-img {
        margin-top: 1rem;
        position: unset;
        width: 100%;
        min-height: 20rem;
    }

    #about .description {
        flex-flow: column;

        margin: 2.5rem 0 2.5rem 0;
    }
}
