@import "./Fonts.css";
@import "./Colors.css";
@import "./Header.css";
@import "./Intro.css";
@import "./ScrollBar.css";
@import "./Animations.css";
@import "./Containers.css";

:root {
    scroll-behavior: smooth;
}


html, body {
    font-family: 'Raleway', 'Roboto', 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    background: var(--black1);
    color: var(--late0);
}

.main-wrapper {
    display: flex;
    flex-flow: column;

    min-height: 200rem;
}

.container {
    padding: 2rem;
}