@import "resources/header.css";
@import "resources/header-elements.css";
@import "resources/intro.css";
@import "resources/cards.css";
@import "resources/loading.css";
@import "Colors.css";
@import "ScrollBar.css";
@import "Animations.css";
@import "Fonts.css";

:root {
    scroll-behavior: smooth;
    font-family: 'Raleway', 'Roboto', 'Ubuntu', sans-serif;
    background: var(--black1);
    color: var(--late0);

    overflow-x: hidden;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    margin: 0 auto;
}

@media only screen and (max-width : 1300px) {
    .main-wrapper {
        width: 90vw;
    }
}

@media only screen and (max-width : 800px) {
    .main-wrapper {
        width: 80vw;
    }
}
