.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;

    width: 90%;
    margin: 6rem auto;
}

.cards .card {
    position: relative;
    display: flex;
    flex-flow: column;

    padding: 2rem 1rem 3rem 1rem;

    max-width: 24vw;

    border: 1px dashed var(--late2);
    border-radius: .5rem .5rem 0 0;

    transition: 150ms ease-in-out;
    cursor: pointer;

    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.cards .card[disabled]::after {
    content: "UNAVAILABLE"
}

.cards .card[disabled]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(22, 23, 25, 0.8);
    z-index: 110;
}

.cards .card[disabled] {
    border: none;
    box-shadow: unset;

    filter: blur(1px);
    cursor: unset;
}

.cards .card[more]::after {
    content: attr(more);

    position: absolute;
    right: 2rem;
    bottom: 1rem;

    font-size: 1.2rem;
    padding: .25rem 1rem;

    /*background-color: rgba(255, 255, 255, 0.5);*/
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 100rem;

    transition: 150ms ease-in-out;
}


.cards .card .title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--late0)
}

.cards .card .description {
    font-size: 1rem;
    color: var(--late2)
}


.cards .card:not([disabled]):hover {
    transform: scale(1.015);
}

.cards .card:not([disabled]):hover::after {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media only screen and (max-width: 1300px) {
    .cards {
        grid-template-columns: auto auto;
        grid-column-gap: .5rem;
        grid-row-gap: .5rem;
        width: 100%;
    }

    .cards .card {
        position: relative;
        display: flex;
        flex-flow: column;

        max-width: 45vw;

        box-shadow: unset;
    }

}


@media only screen and (max-width: 900px) {
    .cards {
        grid-template-columns: auto;
        grid-column-gap: 0;
        grid-row-gap: .5rem;
        width: 100%;

        transform: scale(0.95);
    }

    .cards .card {
        max-width: unset;
    }
}