.header-element .header-icon {
    width: 100%;
    height: 100%;

    margin: 0 auto;

    background-size: contain;
    background-repeat: no-repeat;

    filter: invert(70%);
}

.header-element[name="homepage"] .header-icon {
    background-image: url("../../Images/icons/homepage.svg");
}

.header-element[name="home"] .header-icon {
    background-image: url("../../Images/icons/home.svg");
}

.header-element[name="wiki"] .header-icon {
    background-image: url("../../Images/icons/book.svg");
}

.header-element[name="courses"] .header-icon {
    background-image: url("../../Images/icons/backpack.svg");
}

.header-element[name="snippets"] .header-icon {
    background-image: url("../../Images/icons/list.svg");
}
