.loading {
    position: fixed;

    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.9);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    z-index: 100000;

    transition-duration: 250ms;
    transition-timing-function: ease-in-out;

    pointer-events: none;
    opacity: 0;
}

.loading .box {
    border: 1px solid var(--late2);
    border-radius: 100rem;
    padding: .5rem 2rem;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #ffffff12;
}

.loading .box h2 {
    margin: 0 1rem 0 0;
}

.loading .box .spinner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: spin 1s infinite;
    margin: 0 0;
}